.side-menu {
  display: block;
  float: left;
  height: 100vh;
}

.side-menu-links {
  text-decoration: none;
  padding: 0 10px;
}

.logout-btn {
  text-decoration: none;
  color: white;
}

.data-area {
  display: flex;
  flex-direction: column;
}

.data-card-area {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.data-graph-area {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}