.form-paper{
  width: 25%;
  text-align: center;
  padding-top: 20px;
}

.sign-forms{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #007DC6;
}

.sign-btn{
  margin: 40px 20px;
  width: 40%;
}

.social-sign-btn{
  margin: 0 20px 40px 20px;
  width: 35%;
}

.campaign-card{
  margin: 40px 20px;
  padding: 40px;
  cursor: pointer;
  width: 400px;
}

.left-menu{
  display: block;
  float: left;
  height: 100vh;
}

.contact-table-area{
  margin-top: 20px;
}

.add-new-contact-modal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add-contact-text-field{
  margin-right: 40px;
}

.campaign-list-area{
  display: flex;
  justify-content: flex-start;
}

.toolbar-separator-campaign-detail{
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.contact-search-bar{
  display: flex;
}

.contact-btns{
  display: flex;
}

.add-new-contact-btn{
  display: flex;
  margin: 40px 0 0 40px;
}

.delete-contact-btn{
  display: flex;
  margin: 40px 0 0 40px;
}